.body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

img {
  display: block;
}

.head {
  border-bottom: 1px solid #e7e9fc;

}

.head_content  {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header*/

.nav {
  display: flex;
  align-items: center;
}

.list_menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.nav_list {
  font-weight: 500;
  line-height: 1.5;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4D5AE5;
  margin-right: 76px;
}

.logo_color {
  color: #2E2F42;
}

.list_contacts {
  list-style: none;
  padding: 24px 0;
  display: flex;
  gap: 40px
}

.nav_href {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;
  margin-right: 40px;
  padding: 24px 0;
}

.nav_href:hover {
  color: #404BBF;
}

.nav_href:focus {
  color: #404BBF;
}

.contacts {
  font-style: normal
}

.contacts_href {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  margin-right: 40px;
}

.contacts_href:hover {
  color: #404BBF;
}

.contacts_href:focus {
  color: #404BBF;
}

/*first_section*/
.first_section {
  background-color: #2E2F42;
  padding: 188px 0;
}

.first_section_head {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
  max-width: 496px;
}


.first_section_button {
  font-family: "Roboto", sans-serif;
  background-color: #4D5AE5;
  /*текст кнопки*/
  color:white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.first_section_button:hover {
  background-color: #404BBF;
  cursor: pointer;
}

.first_section_button:focus {
  background-color: #404BBF;
  cursor: pointer;
}

/*second_section*/
.second_section {
  padding: 120px 0
}

.list_third_section {
  display: flex;
  gap: 24px;
}

.second_head {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.third_head {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list_second_section {
  display: flex;
  gap: 24px;
}

.li_second_section {
  width: calc((100% - 72px) / 4);
  margin-bottom: 8px;
}

.discription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/*third_section*/

.third_section {
  background-color: #F4F4FD;
  padding: 120px 0
}

.list_background {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.list_section {
  padding: 32px 0
}

/***/
.fourth_section {
  padding-top: 120px; 
  padding-bottom: 120px;
}

.ul_fourth_section{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.content_section_fourd{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.list_fourth_section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: calc((100% - 48px) / 3);
}

.fourth_head {
  width: calc((100% - 48px) / 3); 
}

.container_fourth{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.list_section_fourd{
  padding: 32px 16px
}


  /*Footer*/
.footer {
  background-color: #2E2F42;
  padding: 100px 0;
}

.logo_futer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo_footer_color{
  color: #F4F4FD;
}

.footer_description {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px
}