.body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

img {
  display: block;
}

.head {
  border-bottom: 1px solid #e7e9fc;

}

.head_content  {
  display: flex;
  container: 
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  padding: 0 15px 0 15px;
}

/* Header*/

.nav {
  display: flex;
  align-items: center;
}

.list_menu {
  display: flex;
  gap: 40px;

}

.nav_list {
  font-weight: 500;
  line-height: 1.5;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4D5AE5;
  margin-right: 76px;
}

.logo_color {
  color: #2E2F42;
}

.list_contacts {
  list-style: none;
  padding: 24px 0;
  display: flex;
  gap: 40px
}

.nav_href {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;
  margin-right: 40px;
  padding: 24px 0;
}

.nav_href:hover {
  color: #404BBF;
}

.nav_href:focus {
  color: #404BBF;
}

.contacts {
  font-style: normal
}

.contacts_href {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  margin-right: 40px;
}

.contacts_href:hover {
  color: #404BBF;
}

.contacts_href:focus {
  color: #404BBF;
}

/*Main*/
.first_section {
  background-color: #2E2F42;
}

/*first_section*/
.first_section_head {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
}


.first_section_button {
  font-family: "Roboto", sans-serif;
  background-color: #4D5AE5;
  /*текст кнопки*/
  color:white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.first_section_button:hover {
  background-color: #404BBF;
  cursor: pointer;
}

.first_section_button:focus {
  background-color: #404BBF;
  cursor: pointer;
}

/*second_section*/
.second_head {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  color: #2e2f42;
}

.third_head {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.discription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*third_section*/

.third_section {
  background-color: #F4F4FD;
}

.list_background {
  background-color: #FFFFFF;
}
  /*Footer*/
.footer {
  background-color: #2E2F42;
}

.logo_footer_color{
  color: #F4F4FD;
}

.footer_description {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}